@use '../abstracts' as *;

@keyframes mobileMenuFadeIn {
  to {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes nLogoAnim {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-120px);
  }
}

@include breakpoint('x-large') {
  @keyframes nLogoAnim {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-170px);
    }
  }
}

@keyframes nLogoCompleteAnim {
  0% {
    transform: translateX(-188px);
    opacity: 0;
  }

  100% {
    transform: translateX(-136.5px);
    opacity: 1;
  }
}

@include breakpoint('x-large') {
  @keyframes nLogoCompleteAnim {
    0% {
      transform: translateX(-247px);
      opacity: 0;
    }

    100% {
      transform: translateX(-193px);
      opacity: 1;
    }
  }
}

@keyframes loading {
  to {
    width: 10%;
  }
}

@keyframes loadingEnding {
  0% {
    width: 10%;
  }

  100% {
    width: 100%;
  }
}

@keyframes alertFadeIn {
  0% {
    right: -350px;
  }

  80% {
    right: 15px;
  }

  100% {
    right: 0;
  }
}

.fade-in {
  animation: alertFadeIn 550ms forwards ease-out;
}

@keyframes alertFadeOut {
  0% {
    right: 0;
  }

  30% {
    right: 30px;
  }

  100% {
    right: -350px;
  }
}

.fade-out {
  animation: alertFadeOut 700ms forwards ease-in-out;
}

@keyframes alertTimeout {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.timeout {
  animation: alertTimeout 3850ms 600ms forwards linear;
}
