@use '../abstracts' as *;

.footer {
  padding: 4.125rem 0 5.9375rem;
  background-color: var(--footer-bg-color);
  transition: background-color 300ms ease-in;

  @include breakpoint('large') {
    padding: 3.4375rem 0 2rem;
  }

  &__wrapper {
    margin-bottom: 2rem;

    @include breakpoint('large') {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3.6875rem;
    }
  }

  &__logo {
    margin-bottom: 3.375rem;

    @include breakpoint('large') {
      margin-bottom: 3.125rem;
    }

    a {
      position: relative;
      outline: none;

      img:first-child {
        width: 3.25rem;
      }

      img:last-child {
        opacity: 0;
        display: none;
      }

      @include breakpoint('large') {
        display: inline-flex;
        align-items: center;

        img:last-child {
          display: block;
          position: absolute;
          left: -0.125rem;
          z-index: map-get($z-index, 'default');
          width: 11.6438rem;
          transform: scaleX(0);
          transform-origin: left;
          transition: left 300ms ease-in-out, opacity 300ms ease-in,
            transform 300ms linear;
        }

        &:hover,
        &:focus {
          img:last-child {
            left: 2.5rem;
            opacity: 1;
            transform: scaleX(1);
          }
        }
      }
    }
  }

  &__contact {
    display: grid;
    gap: 1.9375rem;
    margin-bottom: 3.125rem;

    @include breakpoint('large') {
      margin: 0;
    }

    .box {
      display: flex;
      align-items: center;
      gap: 1.25rem;
    }

    i {
      color: var(--primary-color);
      font-size: 1.375rem;
    }

    p {
      color: var(--white-color);
    }
  }

  &__social {
    ul {
      display: flex;
      justify-content: center;
      gap: 1.25rem;
    }

    a {
      outline: none;

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white-color);
        background-color: var(--primary-color);
        border: 2px solid transparent;
        font-size: 1.4375rem;
        width: 2.5rem;
        height: 2.5rem;
        @include border-radius('5');
        transition: background-color 280ms ease-in-out, color 280ms ease-out,
          border 280ms ease-in-out;
      }

      &:hover,
      &:focus {
        i {
          border-color: var(--primary-color);
          background-color: transparent;
          color: var(--primary-color);
        }
      }
    }
  }

  &__divider {
    height: 0.0625rem;
    width: 100%;
    background-color: var(--light-gray);
    margin-bottom: 1.0625rem;

    @include breakpoint('large') {
      margin-bottom: 1.875rem;
    }
  }

  &__rights {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    @include breakpoint('large') {
      flex-direction: row;
      justify-content: space-between;
    }

    span {
      color: var(--light-gray);
      font-size: var(--smaller-font-size);
      text-align: center;
    }
  }
}
