@use '../abstracts' as *;

.preloading {
  position: fixed;
  z-index: map-get($z-index, 'preloading-screen');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.6875rem;
  background-color: var(--white-color);
  height: 100%;
  width: 100%;
  transition: opacity 300ms ease-in-out;

  &.hide {
    opacity: 0;
  }

  &__wave-bg {
    background: url('../../../assets/images/waves-bg.svg') no-repeat;
    background-size: cover;
    height: 12.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &__logo {
    position: relative;

    img {
      &:first-child {
        width: 4.5rem;
        animation: nLogoAnim 400ms forwards ease-in-out;
      }

      &:last-child {
        width: 16.2rem;
        position: absolute;
        opacity: 0;
        transform: translateX(-188px);
        animation: nLogoCompleteAnim 400ms 400ms forwards ease-in-out;
      }
    }
  }

  &__progress-bar,
  &__fill {
    @include border-radius('10');
  }

  &__progress-bar {
    width: 20.8125rem;
    height: 0.375rem;
    background-color: var(--loading-bar-bg-color);
  }

  &__fill {
    height: 100%;
    width: 0;
    background-color: var(--primary-color);
    animation: loading 600ms forwards ease-in-out;

    &.loading-ending {
      animation: loadingEnding 1000ms forwards ease-in-out;
    }
  }
}
