$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$failed-icon: "\e900";
$about-icon: "\e901";
$arrow-up-icon: "\e902";
$back-end-icon: "\e903";
$checkmark-icon: "\e904";
$close-icon: "\e905";
$company-icon: "\e906";
$email-icon: "\e907";
$email-icon_outline: "\e908";
$facebook-icon: "\e909";
$five-stars-icon: "\e90a";
$front-end-icon: "\e90b";
$gear-icon: "\e90c";
$home-icon: "\e90d";
$instagram-icon: "\e90e";
$left-curved-arrow: "\e90f";
$linkedin-icon: "\e910";
$mobile-menu-icon: "\e911";
$moon-icon: "\e912";
$phone-icon: "\e913";
$quote-icon: "\e914";
$right-curved-arrow: "\e915";
$rocket-icon: "\e916";
$services-icon: "\e917";
$straight-arrow-icon: "\e918";
$sun-icon: "\e919";
$team-icon: "\e91a";
$tech-icon: "\e91b";
$testimonial-icon: "\e91c";
$user-icon: "\e91d";
$ux-ui-design-icon: "\e91e";
